/* Estilos para la página principal y las preguntas */
body {
    margin: 0;
    padding: 0;
    background-image: url('/fondo.png');
    background-size: cover;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
}

h2 {
    text-align: center;
}

.questions-container {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px 20px;
    background-color: #0048ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #002366;
}

.boton-volver {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ff00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #00cc00;
}
