body {
    margin: 0;
    padding: 0;
    background-image: url('/fondo1.jpeg');
    background-size: cover; /* Ajustar el tamaño de la imagen para cubrir todo el fondo */
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.inner-container {
    max-width: 100%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease;
}

h1 {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    font-size: 60px; /* Aumentamos el tamaño del título */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px; /* Añadimos más espacio al margen inferior */
    max-width: 100%;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

h2 {
    font-size: 32px;
    text-align: center;
    margin: 0 auto; /* Centra el elemento horizontalmente */
    max-width: 100%;
    box-sizing: border-box;
}

p {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto; /* Centra el elemento horizontalmente */
    max-width: 100%;
    box-sizing: border-box;
}

/* Añade estas reglas al final de tu archivo de estilos CSS */

ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Cambia el diseño a flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola línea */
}

li {
    margin: 10px;
    flex: 0 0 35%; /* Define el tamaño de los elementos. 45% para dejar espacio para el margen */
}

a {
    display: block; /* Cambia el enlace a bloque para que ocupe todo el espacio disponible */
    padding: 15px 30px;
    background-color: #0048ff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.inner-container {
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
}

.group-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.group {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    margin: 10px;
}

.points-counter {
    text-align: center;
}

.boton-volver {
    display: block;
    background-color: #00cc00;
    text-align: center;
    margin-top: 20px;
}

/* Media query para dispositivos más pequeños */
@media (max-width: 768px) {
    .group {
        flex: 1 0 100%;
    }
}


.boton-volver:hover {
    background-color: #00cc00; /* Cambia el tono de verde al pasar el mouse */
}




.group-a {
    border-right: 2px solid #ccc; /* Agrega un borde derecho al grupo A */
}

.group-b {
    border-left: 2px solid #ccc; /* Agrega un borde izquierdo al grupo B */
}

.group ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.group li {
    margin: 10px;
}

.group a {
    display: block;
    padding: 10px 30px;
    background-color: #0048ff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.group a:hover {
    background-color: #0095ff;
}


.group a:hover {
    background-color: #0095ff;
}

/* CSS para deshabilitar enlaces de preguntas incorrectas */
/* Utiliza los identificadores de las preguntas para seleccionar los enlaces */
/* Pregunta 4 */
#pregunta1[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 5 */
#pregunta2[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 6 */
#pregunta3[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

#pregunta1a[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

#pregunta2a[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}
#pregunta3a[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}
#pregunta1b[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}
#pregunta2b[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}
#pregunta3b[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}


/* Pregunta 4 */
#pregunta4[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 5 */
#pregunta5[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 6 */
#pregunta6[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

#pregunta1VF[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 2 */
#pregunta2VF[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 3 */
#pregunta3VF[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 4 */
#pregunta4VF[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 5 */
#pregunta5VF[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 6 */
#pregunta6VF[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}




a:hover {
    background-color: #0095ff;
}

/* Animación de aparición */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de botones al hacer hover */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

a:hover {
    animation: bounce 0.5s infinite alternate;
}
