body {
    margin: 0;
    padding: 0;
    background-color: #93b0b5;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 80vh; /* Ajusta la altura del contenedor */
    margin-top: 8vh; /* Ajusta la posición vertical del contenedor */
}


.question,
.hints,
.hints-content,
form {
    width: 100%;
    margin-bottom: 20px;
}

.hints {
    display: flex;
    justify-content: center;
}

.hint-btn {
    background-color: #0048ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hint-btn:hover {
    background-color: #002366;
}

.hint {
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="submit"],
.boton-volver {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="text"] {
    margin-bottom: 10px;
}

input[type="submit"],
.boton-volver {
    background-color: #0048ff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
.boton-volver:hover {
    background-color: #002366;
}
