body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1453dcd6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajustamos la altura del body para centrar el contenido */
}

/* Resto de tu CSS permanece igual */

.container {
    max-width: 1395px;
    margin: 50px auto;
    background-color: #ffffff8c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: auto; /* Cambiamos la altura a auto para que se ajuste al contenido */
    font-size: 24px; /* Aumentamos el tamaño de la fuente */
}

.inner-container {
    text-align: center;
}

h1 {
    font-size: 36px; /* Aumentamos el tamaño del título */
    color: #333;
}

p {
    font-size: 32px; /* Aumentamos el tamaño del texto */
    color: #666;
    margin-bottom: 20px;
}

.team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
}

h2 {
    font-size: 30px; /* Aumentamos el tamaño del título */
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

button, .boton-volver {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button {
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

.boton-volver {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

.boton-volver:hover {
    color: #0056b3;
}

#message {
    margin-top: 20px;
    font-weight: bold;
}

.submit-button:disabled,
.next-button:disabled,
.boton-volver:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.submit-button, .next-button, .boton-volver {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timer {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Estilos para la barra de progreso del tiempo */
.loaderBar {
    width: calc(100% - 40px); /* Ajustado para que ocupe todo el ancho disponible */
    height: 10px;
    background: #F9F9F9;
    border-radius: 10px;
    border: 1px solid #006DFE;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px; /* Centrado y espacio inferior */
}

.loaderBar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: repeating-linear-gradient(45deg, #0031F2 0 30px, #006DFE 0 40px) right/200% 100%;
    animation: fillProgress 30s linear infinite; /* Ajustado para que dure 30 segundos */
    animation-fill-mode: forwards;
}

@keyframes fillProgress {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}
