body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cambiar el color de fondo */
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    background-color: #ffffff; /* Cambiar el color de fondo */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}

.question {
    margin-bottom: 20px;
}

.hints {
    margin-bottom: 20px;
}

.hint-btn {
    background-color: #0048ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hint-btn:hover {
    background-color: #002366;
}

.hints-content {
    margin-bottom: 20px;
}

.hint {
    display: none;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #0048ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #002366;
}

.boton-volver {
    display: block;
    background-color: #00ff00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #00cc00;
}
