body {
    margin: 0;
    padding: 0;
    background-image: url('/fondo1.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

html, body {
    width: 100%;
    height: 90%; /* Cambiado de 90% a 100% */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.inner-container {
    width: 100%; /* Asegura que el contenedor interno ocupe todo el ancho */
    height: 50%; /* Asegura que el contenedor interno ocupe todo el alto */
    padding: 20px; /* Puedes ajustar el padding según sea necesario */
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease;
}

h1, h2, p {
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    margin: 10px;
    flex: 0 0 35%;
    font-size: 40px;
}

a {
    display: block;
    padding: 15px 30px;
    background-color: #0048ff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.group-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.group {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    margin: 10px;
}

.points-counter {
    text-align: center;
}

.boton-volver {
    display: block;
    background-color: #00cc00;
    text-align: center;
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
}


#group-a-points-pista {
    display: none;
}

#group-b-points-pista {
    display: none;
}

.puntuacion {
    position: fixed;
    top: 10%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}

.puntuacion h2 {
    margin-top: 0;
}

.group-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.group {
    width: 48%; /* Ajustamos el ancho de los grupos */
}

.group:last-child {
    border-right: none; /* Eliminamos la línea divisoria del último grupo */
}

.points-counter {
    margin-bottom: 10px;
}

.grupo-a,
.grupo-b {
    margin-bottom: 20px;
}

.grupo-a label,
.grupo-b label {
    display: block;
    margin-bottom: 5px;
}

.grupo-a input,
.grupo-b input {
    width: 50px;
}

/* Estilos para la barra de progreso del tiempo */
.loaderBar {
    width: calc(100% - 40px); /* Ajustado para que ocupe todo el ancho disponible */
    height: 10px;
    background: #F9F9F9;
    border-radius: 10px;
    border: 1px solid #006DFE;
    position: relative;
    overflow: hidden;
    margin: 0 auto 20px; /* Centrado y espacio inferior */
}

.loaderBar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 5px;
    background: repeating-linear-gradient(45deg, #0031F2 0 30px, #006DFE 0 40px) right/200% 100%;
    animation: fillProgress 30s linear infinite; /* Ajustado para que dure 30 segundos */
    animation-fill-mode: forwards;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

#pregunta1Pista[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 5 */
#pregunta2Pista[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 6 */
#pregunta3Pista[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

/* Pregunta 4 */
#pregunta4Pista[disabled] {
    pointer-events: none; /* Deshabilitar eventos del mouse */
    color: gray; /* Cambiar color del texto a gris */
}

@media (max-width: 768px) {
    .group {
        flex: 1 0 100%;
    }
}

.boton-volver:hover {
    background-color: #00cc00;
}

.group-a {
    border-right: 2px solid #ccc;
}

.group-b {
    border-left: 2px solid #ccc;
}

.group ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.group li {
    margin: 10px;
}

.group a:hover {
    background-color: #0095ff;
}

a:hover {
    animation: bounce 0.5s infinite alternate;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}
