/* Estilos para el cuerpo */
body {
    margin: 0;
    padding: 0;
    background-image: url('/fondo.png');
    background-size: cover;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
/* Estilos para el contenedor principal */
.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* Estilos para el contenedor interno */
.inner-container {
    max-width: 800px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease;
}

/* Estilos para el título */
h2 {
    color: #f7f7f7;
    font-size: 32px;
    margin-bottom: 20px;
}

/* Estilos para el contenedor de las preguntas */
.questions-container {
    display: flex;
    justify-content: center;
}

/* Estilos para las columnas */
.columnas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espacio entre las columnas */
}

/* Estilos para las columnas individuales */
.columna {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para los enlaces de las preguntas */
.columna a {
    display: block;
    padding: 15px 30px;
    margin-bottom: 10px; /* Separación entre botones */
    background-color: #0048ff;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.columna a:hover {
    background-color: #0095ff;
}

/* Estilos para el botón de volver */
.boton-volver {
    display: block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #00ff00;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.boton-volver:hover {
    background-color: #00cc00;
}
