body {
    margin: 0;
    padding: 0;
    background-image: url('/fondo1.jpeg');
    background-size: cover;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 24px; /* Aumentamos el tamaño de la fuente */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 91vh;
}

.inner-container {
    max-width: 85%;
    padding: 100px; /* Aumentamos el padding */
    background-color: rgba(255, 255, 255, 0.263);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 32px; /* Aumentamos el tamaño de la fuente */
}

.puntuacion {
    top: 10%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    text-align: center;
    border: 2px solid black;
    padding: 40px; /* Aumentamos el padding */
    border-radius: 10px;
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
}

.puntuacion h2 {
    margin-top: 0;
    font-size: 36px; /* Aumentamos el tamaño del título */
    font-weight: bold; /* Hacemos que el título sea más audaz */
    color: #333; /* Cambiamos el color del texto */
}

.grupo-a,
.grupo-b {
    margin-bottom: 30px; /* Aumentamos el espacio entre los grupos */
}

.grupo-a label,
.grupo-b label {
    display: inline-block;
    width: 150px; /* Aumentamos el ancho del label para que sea más legible */
    font-weight: bold; /* Hacemos que el texto del label sea más audaz */
    color: #555; /* Cambiamos el color del texto */
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
}

.grupo-a input,
.grupo-b input {
    width: 80px; /* Aumentamos el ancho del input */
    padding: 12px; /* Aumentamos el espacio dentro del input */
    border: 2px solid #ccc; /* Agregamos un borde para separar visualmente el input */
    border-radius: 10px; /* Redondeamos las esquinas del input */
    font-size: 24px; /* Aumentamos el tamaño de la fuente */
}

button#reiniciar,
button#ganador,
button#volver {
    padding: 20px 40px; /* Aumentamos el espacio alrededor del texto del botón */
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
    border-radius: 10px; /* Redondeamos las esquinas del botón */
}



button#reiniciar {
    padding: 10px 20px; /* Aumentamos el espacio alrededor del texto del botón */
    background-color: #ff3333; /* Cambiamos el color del botón a rojo */
    color: #fff; /* Cambiamos el color del texto a blanco */
    border: none; /* Quitamos el borde del botón */
    border-radius: 5px; /* Redondeamos las esquinas del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

button#reiniciar:hover {
    background-color: #cc0000; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}


button#ganador {
    padding: 10px 20px; /* Aumentamos el espacio alrededor del texto del botón */
    background-color: #0d8a17; /* Cambiamos el color del botón a rojo */
    color: #fff; /* Cambiamos el color del texto a blanco */
    border: none; /* Quitamos el borde del botón */
    border-radius: 5px; /* Redondeamos las esquinas del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}
button#volver {
    padding: 10px 20px; /* Aumentamos el espacio alrededor del texto del botón */
    background-color: #091aff; /* Cambiamos el color del botón a rojo */
    color: #fff; /* Cambiamos el color del texto a blanco */
    border: none; /* Quitamos el borde del botón */
    border-radius: 5px; /* Redondeamos las esquinas del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

button#ganador:hover {
    background-color: #197012; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

