body {
    margin: 0;
    padding: 0;
    background-image: url('/fondo1.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

html, body {
    width: 100%;
    height: 90%;
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.inner-container {
    width: 100%; /* Asegura que el contenedor interno ocupe todo el ancho */
    height: 60%; /* Asegura que el contenedor interno ocupe todo el alto */
    padding: 20px; /* Puedes ajustar el padding según sea necesario */
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 1s ease;
}

.puntuacion {
    position: fixed; /* Asegura que la puntuación esté siempre visible */
    top: 50%;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    text-align: center;
    border: 2px solid black;
    padding: 40px; /* Aumentamos el padding */
    border-radius: 10px;
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
}



.grupo-a,
.grupo-b {
    margin-bottom: 30px; /* Aumentamos el espacio entre los grupos */
}

.grupo-a label,
.grupo-b label {
    display: inline-block;
    width: 150px; /* Aumentamos el ancho del label para que sea más legible */
    font-weight: bold; /* Hacemos que el texto del label sea más audaz */
    color: #555; /* Cambiamos el color del texto */
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
}

.grupo-a input,
.grupo-b input {
    width: 80px; /* Aumentamos el ancho del input */
    padding: 12px; /* Aumentamos el espacio dentro del input */
    border: 2px solid #ccc; /* Agregamos un borde para separar visualmente el input */
    border-radius: 10px; /* Redondeamos las esquinas del input */
    font-size: 24px; /* Aumentamos el tamaño de la fuente */
}

button#reiniciar,
button#ganador,
button#volver {
    padding: 20px 40px; /* Aumentamos el espacio alrededor del texto del botón */
    font-size: 28px; /* Aumentamos el tamaño de la fuente */
    border-radius: 10px; /* Redondeamos las esquinas del botón */
    border: none; /* Quitamos el borde del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

button#reiniciar {
    background-color: #ff3333; /* Cambiamos el color del botón a rojo */
    color: #fff; /* Cambiamos el color del texto a blanco */
}

button#reiniciar:hover {
    background-color: #cc0000; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

button#ganador {
    background-color: #0d8a17; /* Cambiamos el color del botón a verde */
    color: #fff; /* Cambiamos el color del texto a blanco */
}

button#ganador:hover {
    background-color: #197012; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

button#volver {
    background-color: #091aff; /* Cambiamos el color del botón a azul */
    color: #fff; /* Cambiamos el color del texto a blanco */
}

button#volver:hover {
    background-color: #0000cc; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

/* Botón "Volver al menú principal" específico */
.boton-volver {
    display: block; /* Cambia el enlace a bloque para que ocupe todo el espacio disponible */
    padding: 30px 60px; /* Aumenta el espacio alrededor del texto del botón */
    background-color: #00ff00; /* Cambia el color de fondo a verde */
    color: #fff;
    text-decoration: none;
    border-radius: 30px; /* Aumenta el radio del borde del botón */
    font-size: 24px; /* Aumenta el tamaño de la fuente */
    transition: background-color 0.3s ease;
    text-align: center; /* Asegura que el texto esté centrado */
    width: fit-content; /* Ajusta el ancho al contenido */
    margin: 0 auto; /* Centra el botón horizontalmente */
}

.boton-volver:hover {
    background-color: #00cc00; /* Cambia el tono de verde al pasar el mouse */
}
