body {
    margin: 0;
    padding: 0;
    background-image: url('fondo1.jpeg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
}

html, body {
    width: 100%;
    height: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea el contenido al final del contenedor principal */
}

.inner-container {
    max-width: 100%;
    gap: 100px; /* Añade un espacio entre los elementos del contenedor */
    display: flex;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    justify-content: right;
}

h1 {
    color: #000000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    font-size: 60px; /* Aumentamos el tamaño del título */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px; /* Añadimos más espacio al margen inferior */
}

p {
    display: flex;
    text-align: center;
    justify-content: flex-end; /* Alinea el texto a la derecha dentro del párrafo */
    margin-bottom: 40px; /* Aumenta el espacio entre el párrafo y los botones */
    font-size: 20px; /* Aumenta el tamaño del texto */
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Cambia el diseño a flexbox */
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas si no caben en una sola línea */
}

li {
    margin: 2px;
    flex: 0 0 35%; /* Define que los elementos no se estiren */
}


a {
    display: flex;
    padding: 20px 20px; /* Aumentamos el espacio alrededor del texto del botón */
    background-color: #0044ff;
    justify-content: center;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 27px;
    border-radius: 30px; /* Aumentamos el radio del borde del botón */
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #008cff;
}

/* Agregamos una animación a los botones al hacer hover */
a:hover {
    animation: bounce 0.5s infinite alternate;
}

.grupo-a,
.grupo-b {
    margin-bottom: 10px;
}

.grupo-a label,
.grupo-b label {
    display: inline-block;
    width: 70px;
}

.grupo-a input,
.grupo-b input {
    width: 50px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}



.grupo-a,
.grupo-b {
    margin-bottom: 15px; /* Aumentamos el espacio entre los grupos */
}

.grupo-a label,
.grupo-b label {
    display: inline-block;
    width: 100px; /* Aumentamos el ancho del label para que sea más legible */
    font-weight: bold; /* Hacemos que el texto del label sea más audaz */
    color: #555; /* Cambiamos el color del texto */
}

.grupo-a input,
.grupo-b input {
    width: 60px; /* Aumentamos el ancho del input */
    padding: 8px; /* Aumentamos el espacio dentro del input */
    border: 1px solid #ccc; /* Agregamos un borde para separar visualmente el input */
    border-radius: 5px; /* Redondeamos las esquinas del input */
}

button#reiniciar {
    padding: 10px 20px; /* Aumentamos el espacio alrededor del texto del botón */
    background-color: #ff3333; /* Cambiamos el color del botón a rojo */
    color: #fff; /* Cambiamos el color del texto a blanco */
    border: none; /* Quitamos el borde del botón */
    border-radius: 5px; /* Redondeamos las esquinas del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

button#reiniciar:hover {
    background-color: #cc0000; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}

button#ganador {
    padding: 10px 20px; /* Aumentamos el espacio alrededor del texto del botón */
    background-color: #0d8a17; /* Cambiamos el color del botón a rojo */
    color: #fff; /* Cambiamos el color del texto a blanco */
    border: none; /* Quitamos el borde del botón */
    border-radius: 5px; /* Redondeamos las esquinas del botón */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo */
}

button#ganador:hover {
    background-color: #197012; /* Cambiamos el color de fondo al pasar el cursor sobre el botón */
}
